@import url("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
@charset "UTF-8";
/* CSS Document */

/*GTA DELIVER _____________________________________________________________*/


/* GENERAL SETTINGS */

.submitButton {
	color:#FFFFFF;
	width:100%;
	height:50px;
	background-color:#1874CD;
	border-color:#1460aa !important;
	transition:all 0.2s ease-out;
}

.submitButton:hover,
.submitButton:active,
.submitButton:focus{
	color:#FFFFFF;
	height:50px;
	border-color:#1460aa !important;
	background-color:#1460aa !important;
	transition:all 0.2s ease-out;
}

/* LEADS LIST */


/* CONTROL BAR */

.control-bar {
	position: fixed;
  bottom: 0px;
  right: 0px;
	padding-bottom:calc(20px + 1vw);
	padding-right:calc(20px + 1vw);
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index:1;
}

.control-bar > div {
	display:flex;
	padding: 0px;
	padding-left:15px;
}

.control-bar button,
.control-bar button:hover {
	border:none;
	color:#FFFFFF;
	border-radius: 30px;
	padding:15px 30px;
	font-size:1.2em;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
}


/* LOAD MORE BUTTON */

.load-more {
	position: relative;
	width: 100%;
	margin:auto;
	height: 100vh;
	background: radial-gradient(circle, rgba(24,116,205,1) 0%, rgba(30,77,186,1) 100%);
	box-shadow: 0px -10px 20px rgba(0,0,0,0);
	margin-top:10vw;
	transition:all 0.5s ease-out;
	display:flex;
	justify-content: center;
	align-items: center;
	float:left;
}

.load-more.active {
	position: relative;
	width: 100%;
	margin:auto;
	height: 100vh;
	margin-top:0;
	background: radial-gradient(circle, rgba(24,116,205,1) 0%, rgba(30,77,186,1) 100%);
	box-shadow: 0px -10px 20px rgba(0,0,0,0.2);;
	transition:all 0.5s ease-out;
	display:flex;
	justify-content: center;
	align-items: center;
	float:left;
	width:100%;
}

.load-more #deliver-loadMoreDeliver {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 80px;
	margin: auto;
	align-items: center;
	width: 80%;
	max-width: 400px;
	font-size: 1.8em;
	color: #FFF;
	background: radial-gradient(#238EFF, #2786E1);
	border: none;
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	opacity:1;
	transition:all 0.2s ease-out;
}
.load-more #deliver-loadMoreDeliver:hover {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	transition:all 0.2s ease-out;
	transform:scale(0.95);
}

.load-more #deliver-loadMoreDeliver:active {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	transform:scale(0.90);
	transition:all 0.1s ease-out;
}

/* POP UP */

.pop-up-inner .selectize-input {
	padding: 15px;
	border-radius: 5px;
}

.countryPopUp-pop-up .selectize-dropdown.single {

}

/* SHINY FORM ADJUSTMENTS */

label {
	margin-bottom:10px !important;
}

input.form-control {
	height:50px !important;
	width:100% !important;
}

textarea.form-control,
.form-group {
	width:100% !important;
}

.selectize-control,
.form-group,
.shiny-input-container {
	margin-bottom:0;
}

label {
	font-weight: 700;
	margin-bottom:15px;
	color:#0E4E8C;
}

/* GENERAL TABLE DESIGN */

#deliver-deliverTable {
	font-size:11px;
}

#deliver-deliverTable table tr {
	display:flex;
	border: 1px solid #dadada;
	margin-bottom: 5px;
}

#deliver-deliverTable table thead {
	float:left;
	width:100%;
}

#deliver-deliverTable > .dataTables_wrapper > .dataTables_scroll div.dataTables_scrollBody {
	background-color:transparent !important;
}

#deliver-deliverTable table.dataTable.compact thead th,
#deliver-deliverTable table.dataTable.compact thead td {
	padding:5px 20px 5px 5px;
}

#deliver-deliverTable table.dataTable thead th {
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
}

#deliver-deliverTable table tr td,
#deliver-deliverTable table tr th {
	display:flex;
	flex:1;
	overflow:hidden;
	flex-basis:100px;
	box-sizing: border-box;
	border-top:none;
	border-right:1px solid #dadada;
}

#deliver-deliverTable table tr td:last-child,
#deliver-deliverTable table tr th:last-child {
	border-right:none;
}

#deliver-deliverTable table tr th {
	word-break: normal;
}

#deliver-deliverTable table thead tr {
	border: none;
}

#deliver-deliverTable table tbody tr td.smallPadding {
	padding:calc(5px + 0.2vw) calc(5px + 0.2vw) !important;
}

#deliver-deliverTable table .status {
	flex-grow:0;
	flex-basis:170px;
	flex-shrink: 0;
}

#deliver-deliverTable table .description {
	flex-grow:1;
	flex-shrink:0;
	flex-basis:200px;
}

#deliver-deliverTable table .documentation-status,
#deliver-deliverTable table .jurisdiction,
#deliver-deliverTable table .type,
#deliver-deliverTable table .source {
	flex-grow:1;
	flex-shrink:0;
	flex-basis: 80px;
	max-width:100px;
}


#deliver-deliverTable table .products,
#deliver-deliverTable table .instruments {
	flex-grow:1;
	flex-shrink:0;
	flex-basis: 120px;
	max-width:150px;
}

#deliver-deliverTable table .entry-id,
#deliver-deliverTable table .users,
#deliver-deliverTable table .assessment,
#deliver-deliverTable table .announcement-date,
#deliver-deliverTable table .removal-date,
#deliver-deliverTable table .implementation-date {
	flex-grow:1;
	flex-shrink:0;
	flex-basis: 50px;
	max-width:80px;
}

/*------------------------------------HERE GOES LG STYLE DECLARATIONS ------------------------------------------ */


#DataTables_Table_0 {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

table .status-label span {
	color:#FFFFFF;
}

table .usr-label,
table .prd-label,
table .instr-label {
	font-size: 1em;
	font-weight: bold;
	border-radius: 3px;
	background-color: #e9e9e9;
	color: #555555;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0px 4px;
	white-space: nowrap;
	border:1px solid #919191;
}

.duplicates-remove{
  display: none;
}

.middle-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-less {
  background-color: transparent;
  border: none;
  color: #ababab;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
	transition:background-color 0.5s ease-out;
	padding:5px;
}

.more-less:hover {
  background-color: #eeeeee;
  border-radius: 5px;
	transition:background-color 0.5s ease-out;
}

.more-less span {
  transform:rotate(0deg);
	transition:transform 0.5s ease-out;
}

.more-less.open span {
  transform:rotate(45deg);
	transition:transform 0.5s ease-out;
}

.description-less {
  height: auto;
  max-height: 26px;
  overflow: hidden;
  /*max-width: 500px;*/
  /*width: 370px !important;*/
  word-wrap: break-word;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out
}

.description-more {
  height: auto;
  max-height: 2000px;
  overflow: hidden;
  /*max-width: 500px;
  width: 370px !important;*/
  word-wrap: break-word;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out
}

.source-less {
  height: auto;
  max-height: 26px;
  overflow: hidden;
  /*max-width: 250px !important;
  width: 250px !important;*/
  word-wrap: break-word;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out
}

.source-more {
  height: auto;
  max-height: 2000px;
  overflow: hidden;
  /*max-width: 250px !important;
  width: 250px !important;*/
  word-wrap: break-word;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out
}

.box-item-label{
  display: flex;
  /*flex-flow: wrap;*/
  justify-content: center;
}

.col-left, .col-right{
  /*flex: 50%;*/
}

.status-column{
  display: flex;
  align-items: center;
  justify-content: center;
}

.status .button-wrap {
	display:flex;
	flex:1;
	justify-content: center;
}

.buttons-column {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: calc(5px + 0.2vw);
}

.buttons-column > div{
	display: flex;
}

.buttons-column img {
	width: 20px;
	cursor:pointer;
	transition: all 0.2s ease-out;
}

.buttons-column img:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-out;
}

.status-row{
  display: flex;
	flex-direction:row;
	width:100%;
}

.ann-date {
  /*max-width: 10px;*/
}

#DataTables_Table_0{
	border-collapse: collapse;
}

/* Adjust searchpanes columns here */
div.dtsp-columns-5 {
    min-width: 20% !important;
    max-width: 20% !important;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0px !important;
}

table.dataTable thead th {
    font-weight: bold;
    font-size: 1em;
}

#deliver-deliverTable tbody tr .status-column {
	min-height: 50px;
  padding: 0px 5px;
	display: flex;
	flex: 1;
	flex-grow: 0;
}

tr.new .status-column {
	background-color: #0096ff;
}

tr.updated .status-column {
	background-color: #ffe10b;
}

tr.confirmed .status-column {
	background-color: #00e067;
}

tr.deleted .status-column {
	background-color: #f22308;
}

.editMode{
	width: 90vw;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -105%;
  background-color: #1874CD;
  z-index: 99999;
  max-width: 600px;
	transition:left 0.5s ease-out;
	overflow-y: scroll;
}


.editMode.show {
	transition:left 0.5s ease-out;
	left:0;
	box-shadow:3px 0px 25px rgba(0,0,0,0.2);
}

.editMode h1, .duplicatesMode h1, .saveMode h1 {
	text-align: left;
  font-size: 2.5em;
  font-weight: 100;
  color: #FFFFFF;
	margin:0;
}

.editMode .editMode-header, .saveMode .saveMode-header {
	display:flex;
	background-color: rgba(0,0,0,0.2);
  padding: calc(10px + 1vw);
}

.saveMode .saveMode-header {
  border-radius: 10px 10px 0px 0px;
}

.editMode .editMode-header h1, .saveMode .saveMode-header h1 {
	display:flex;
	flex:1;
}

.editMode .editMode-header #save-edit, .saveMode .saveMode-header #save-xlsx {
	display:flex;
	flex:1;
	flex-grow: 0;
	background-color:rgba(0,0,0,0.2);
	padding:10px;
	border-radius:5px;
	border:none;
	color:#FFFFFF;
	white-space: nowrap;
	transition:all 0.5s ease-out;
}

.editMode .editMode-header #save-edit:hover, .saveMode .saveMode-header #save-xlsx:hover {
	background-color:rgba(0,0,0,0.4);
	transition:all 0.5s ease-out;
}

.editMode .editMode-header #save-edit img, .saveMode .saveMode-header #save-xlsx img {
	margin-right: 10px;
	height: 20px;
}


.canvas{
	padding: calc(20px + 1vw);
}

.canvas-dupl {
  text-align: center;
  font-size: 1.4em;
}

.canvas div label {
	display: block;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
	margin-top: calc(5px + 0.5vw);
}

.canvas .form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: calc(5px + 0.5vw);
	margin-top: calc(5px + 0.5vw);
}

.save-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  margin-top: 1px;
  text-align: center;
  font-size: 0.8em;
}

.canvas .form-grid > div {
	border-bottom:1px solid #5694d0;
}


.canvas input {
	background-color:transparent !important;
	border:none;
	color:#FFFFFF;
	box-shadow:none;
	border-radius:0px;
	padding-left:0;
}

.canvas input[type=checkbox] {
	position: relative;
	margin:6px 0px;
	width:15px;
	height:15px;
}

.canvas .inputs.source textarea,
.canvas .inputs.description textarea {
	/* background-color: rgba(0,0,0,0.2); */
	background-color: transparent;
  border: none;
  padding-right: calc(5px + 0.5vw);
  color: #c9d8fa;
  font-weight: 400;
	border-radius: 0px;
	width:100% !important;
 	border-bottom:1px solid #5694d0;
}

.canvas .selectize-input > div {
	background-color:#2c5175 !important;
	border-radius:3px;
	color:#FFFFFF !important;
	cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
}

.canvas .selectize-input,
.canvas .selectize-input.full,
.canvas .selectize-control.single .selectize-input.input-active {
	background:transparent;
	border-radius:0;
	border:none;
	/* border-bottom:1px solid #5694d0; */
	padding:5px 12px 2px;
	padding-left:0 !important;
}

.canvas .selectize-input.focus {
	border:none;
	border-bottom:1px solid #5694d0;
	box-shadow:none !important;
}

.canvas .selectize-control.single .selectize-input:after {
	display:none;
}

.keep-row {
	width: 100%;
	left: 0px;
	background: linear-gradient(0deg, #11529280, #4fa5fb29);
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: row;
	padding: 10px;
}

.keep-row p {
	font-size: 1.2em;
	font-weight: 700;
	margin-right: 20px;
	color: #FFFFFF;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	display: flex;
	margin: 0;
	align-items: flex-end;
	flex: 1;
}

.remove-row {
    width: 100%;
    left: 0px;
    background: linear-gradient(0deg, #ffc8008f, #ffbf001f);
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
		padding:10px;
}

.remove-row p {
	font-size: 1.2em;
	font-weight: 700;
	margin-right: 20px;
	color: #FFFFFF;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	display: flex;
	margin: 0;
	align-items: flex-end;
	flex: 1;
}

input#save-dupl{
	margin-left: 10px;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  font-weight: 600;
  color: #FFFFFF;
  background-color: rgba(242, 49, 49, 1);
  text-align: center;
  border: none;
  height: 30px;
}

input#cancel-dupl{
	margin-left: 10px;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  font-weight: 600;
  color: #595959;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 30px;
}

.dupl-buttons{
  display: flex;
  flex: 1;
  flex-grow: 0;
  align-items: flex-end;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 99998;
    pointer-events: all;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
		opacity:0;
		visibility: hidden;
		transition: all 0.5s ease-out;
		-webkit-backdrop-filter: blur(15px) saturate(100%) contrast(100%);
		backdrop-filter: blur(15px) saturate(100%) contrast(100%);
}

.overlay.show {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 99998;
    pointer-events: all;
    background: rgba(255,255,255,0.5);
		opacity:1;
		visibility: visible;
		transition: all 0.5s ease-out;
		-webkit-backdrop-filter: blur(15px) saturate(100%) contrast(100%);
		backdrop-filter: blur(15px) saturate(100%) contrast(100%);
}

.remove {
  display: none;
}

/* ----------------------------------------- CSS PB ----------------------------------------- */

.deliver {
	padding:calc(30px + 1vw);
	padding-top:calc(80px + 2vw);
}

.deliver > .content {
	max-width:100%;
	margin:0 auto;
}

/* SEARCH PANES STYLING */

#search-pane-toggle-button {
  cursor: pointer;
  text-align: center;
  height: 30px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.1);
  overflow: hidden;
	margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
	display: flex;
	flex: 1;
	flex-grow: 0;
	flex-basis: 50px;
}

#search-pane-toggle-button span {
	color:#ffffff;
	font-size: 6em;
	transform: scaleY(0.7);
	transition:transform 0.5s ease-out;
}

.collapsePanes #search-pane-toggle-button span {
	color:#ffffff;
	font-size: 6em;
	transform: scaleY(-0.7);
	transition:transform 0.5s ease-out;
}

.deliver #deliver-deliverTable.collapsePanes .dtsp-panesContainer {
  transition: all 0.5s ease-out;
  width: 100%;
	right:0;
	bottom:0;
	padding:calc(10px + 1vw);
	border-radius: 0px;
}

.deliver #deliver-deliverTable .dtsp-panesContainer {
	transition: all 0.5s ease-out;
	width: calc(100% - 20px - 1vw);
	right:calc(10px + 0.5vw);
	bottom:calc(10px + 0.5vw);
	background-color:rgba(25, 44, 64, 0.8);
	border:none;
	-webkit-backdrop-filter: blur(10px) saturate(250%) contrast(120%);
	backdrop-filter: blur(10px) saturate(250%) contrast(120%);
	padding: calc(5px + 0.2vw);
	position: fixed;
	z-index: 1;
	overflow:visible;
	border-radius: 5px;
	margin:0;
}

.deliver #deliver-deliverTable .dtsp-panesContainer div.dtsp-searchPanes {
	overflow:hidden;
	width: 100%;
	display: grid;
	grid-gap:calc(5px + 0.5vw);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-top: 20px;
	float:left;
	max-height:0px;
	margin-top: 0px;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease-out;
}

.deliver #deliver-deliverTable.collapsePanes div.dtsp-searchPanes {
	max-height:500px;
	transition:all 0.5s ease-out;
	opacity:1;
	visibility:visible;
	margin-top:calc(10px + 1vw);
}

.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-searchPane {
	width: 100%;
  display: block;
  float: left;
  max-width: 100% !important;
	height: 30vh;
  max-height: 250px;
}

.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-titleRow {
	float: left;
  width: 100%;
  color: #FFFFFF;
	display: flex;
  align-items: center;
}

.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-titleRow .dtsp-title {
	margin:0px;
	float: left;
	display: flex;
	flex:1;
}

.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-titleRow .dtsp-clearAll {
	float:right;
	margin:0px;
	background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  align-self: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 0;
  flex-basis: 70px;
  justify-content: center;
	height:30px;
	align-items: center;
}


.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-subRow1,
.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-subRow2 {
	width:100%;
}

.deliver #deliver-deliverTable .dtsp-panesContainer .dtsp-subRow2 .dtsp-buttonGroup {
	background-color: rgba(0,0,0,0.4);
	margin-top:10px;
}

#deliver-deliverTable .dtsp-panesContainer div.dataTables_scrollBody,
#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow1 .dtsp-searchCont {
	background-color: rgba(0, 0, 0, 0.2) !important;
}
#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow1 .dtsp-searchCont input::placeholder {
	color:#e7e7e7;
}

#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow1 .dtsp-searchCont button {
	background-image:url('search.svg');
	background-size: 60%;
  opacity: 1;
}

#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow2 button.dtsp-nameButton {
	background-image:url('sortalpha.svg');
	background-size: 60%;
  opacity: 1;
	float:right;
}

#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow2 button.dtsp-countButton {
	background-image:url('sortcount.svg');
	background-size: 60%;
  opacity: 1;
	float:right;
}

#deliver-deliverTable .dtsp-panesContainer .dtsp-subRow2 button.clearButton {
	color:#FFFFFF;
	font-size: 20px;
	opacity:1;
}

#deliver-deliverTable .dtsp-panesContainer .dtsp-pill {
    background-color: rgba(0,0,0,0.4);
    border: none;
    border-radius: 10px;
    color: #e0e0e0;
}


#deliver-deliverTable .dtsp-panesContainer div.dataTables_scrollBody tr {
	background-color:transparent;
	color:#FFFFFF;
	border:none;
}

#deliver-deliverTable .dtsp-panesContainer div.dataTables_wrapper {
	border:none;
}

#deliver-deliverTable .dtsp-panesContainer tr {
	display: table-row;
}

#deliver-deliverTable .dtsp-panesContainer td {
	display: table-cell;
	font-size: 1.1em;
}

/* TD SPECIAL PADDINGS */
td.addPadding {
	padding:10px !important;
}


/* FILTER / SEARCH FIELD */

.deliver #deliver-deliverTable .dataTables_filter {
	width:100%;
}

.deliver #deliver-deliverTable .dataTables_filter input {
	width:100%;
	margin:0;
	border-radius:5px;
	background-color:rgba(0,0,0,0.05);
	border:none;
	padding:10px;
}

.deliver #deliver-deliverTable .dataTables_filter label {
	padding:0;
	width:100%;
}

.inputs {
  width: 100%;
}

.canvas div textarea,.inputs input,select.products {
  width: 100%;
}

#prompt-form fieldset {
  display: flex;
}

#prompt-form textarea {
  height: 75px;
  width: 100%;
}

.prompt-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}

.search-pane-export-xlsx{
    width: 3em;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
}

.saveMode {
	width: 90vw;
  height: 30vh;
  position: fixed;
  top: 30vh;
  left: 30vw;
  background-color: #1874CD;
  z-index: 99999;
  max-width: 600px;
  border-radius: 10px;
	/*transition:left 0.5s ease-out;*/
}

.saveMode.show {
  visibility: visible !important;
	/*left:0;*/
	box-shadow:3px 0px 25px rgba(0,0,0,0.2);
}
